services:
  - type: web
    name: signage2
    env: python
    region: frankfurt
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python app.py"
    disk:
      name: data
      mountPath: /app/data
      sizeGB: 1
    envVars:
      - key: FLASK_ENV
        value: production
